@{
    Layout = $"~/Views/Layout/_LayoutBase.cshtml";
}

@section Styles{
    @await RenderSectionAsync("Styles", false)
}

@section Scripts{
    @await RenderSectionAsync("Scripts", false)
}

<div class="header-img-1">
    <img src="/themes/topup/images/gmobile-top.jpg" alt="">
</div>
<div class="container main">
    @await Html.PartialAsync("~/Views/Layout/Section/_breadcrumb.cshtml")
    <div class="section-body row">
        <div class="col-md-2">
            @await Html.PartialAsync("~/Views/Layout/Section/_sidebar_profile.cshtml")
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
</div>
