.hm-icon-account {
	background: url("svg/sprite.view-9b36927a.svg") 0 0 no-repeat;
}

.hm-icon-account-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-arrow-down {
	background: url("svg/sprite.view-9b36927a.svg") 1.8181818181818181% 0 no-repeat;
}

.hm-icon-arrow-down-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-arrow-left {
	background: url("svg/sprite.view-9b36927a.svg") 3.6363636363636362% 0 no-repeat;
}

.hm-icon-arrow-left-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-auth {
	background: url("svg/sprite.view-9b36927a.svg") 5.454545454545454% 0 no-repeat;
}

.hm-icon-auth-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-avatar {
	background: url("svg/sprite.view-9b36927a.svg") 7.2727272727272725% 0 no-repeat;
}

.hm-icon-avatar-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-balance {
	background: url("svg/sprite.view-9b36927a.svg") 9.090909090909092% 0 no-repeat;
}

.hm-icon-balance-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-bone {
	background: url("svg/sprite.view-9b36927a.svg") 10.909090909090908% 0 no-repeat;
}

.hm-icon-bone-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-calendar {
	background: url("svg/sprite.view-9b36927a.svg") 12.727272727272727% 0 no-repeat;
}

.hm-icon-calendar-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-cancer {
	background: url("svg/sprite.view-9b36927a.svg") 14.545454545454545% 0 no-repeat;
}

.hm-icon-cancer-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-cart {
	background: url("svg/sprite.view-9b36927a.svg") 16.363636363636363% 0 no-repeat;
}

.hm-icon-cart-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-category {
	background: url("svg/sprite.view-9b36927a.svg") 18.181818181818183% 0 no-repeat;
}

.hm-icon-category-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-classroom {
	background: url("svg/sprite.view-9b36927a.svg") 20% 0 no-repeat;
}

.hm-icon-classroom-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-clock {
	background: url("svg/sprite.view-9b36927a.svg") 21.818181818181817% 0 no-repeat;
}

.hm-icon-clock-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-contract {
	background: url("svg/sprite.view-9b36927a.svg") 23.636363636363637% 0 no-repeat;
}

.hm-icon-contract-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-doctor {
	background: url("svg/sprite.view-9b36927a.svg") 25.454545454545453% 0 no-repeat;
}

.hm-icon-doctor-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-domain {
	background: url("svg/sprite.view-9b36927a.svg") 27.272727272727273% 0 no-repeat;
}

.hm-icon-domain-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-edit {
	background: url("svg/sprite.view-9b36927a.svg") 29.09090909090909% 0 no-repeat;
}

.hm-icon-edit-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-group {
	background: url("svg/sprite.view-9b36927a.svg") 30.90909090909091% 0 no-repeat;
}

.hm-icon-group-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-health {
	background: url("svg/sprite.view-9b36927a.svg") 32.72727272727273% 0 no-repeat;
}

.hm-icon-health-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-heart {
	background: url("svg/sprite.view-9b36927a.svg") 34.54545454545455% 0 no-repeat;
}

.hm-icon-heart-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-heart-rate {
	background: url("svg/sprite.view-9b36927a.svg") 36.36363636363637% 0 no-repeat;
}

.hm-icon-heart-rate-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-history {
	background: url("svg/sprite.view-9b36927a.svg") 38.18181818181818% 0 no-repeat;
}

.hm-icon-history-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-home {
	background: url("svg/sprite.view-9b36927a.svg") 40% 0 no-repeat;
}

.hm-icon-home-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-insulin {
	background: url("svg/sprite.view-9b36927a.svg") 41.81818181818182% 0 no-repeat;
}

.hm-icon-insulin-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-key {
	background: url("svg/sprite.view-9b36927a.svg") 43.63636363636363% 0 no-repeat;
}

.hm-icon-key-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-list {
	background: url("svg/sprite.view-9b36927a.svg") 45.45454545454545% 0 no-repeat;
}

.hm-icon-list-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-lock {
	background: url("svg/sprite.view-9b36927a.svg") 47.27272727272727% 0 no-repeat;
}

.hm-icon-lock-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-logout {
	background: url("svg/sprite.view-9b36927a.svg") 49.09090909090909% 0 no-repeat;
}

.hm-icon-logout-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-love-book {
	background: url("svg/sprite.view-9b36927a.svg") 50.90909090909091% 0 no-repeat;
}

.hm-icon-love-book-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-mail {
	background: url("svg/sprite.view-9b36927a.svg") 52.72727272727273% 0 no-repeat;
}

.hm-icon-mail-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-money-transfer {
	background: url("svg/sprite.view-9b36927a.svg") 54.54545454545455% 0 no-repeat;
}

.hm-icon-money-transfer-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-payment {
	background: url("svg/sprite.view-9b36927a.svg") 56.36363636363637% 0 no-repeat;
}

.hm-icon-payment-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-play-button {
	background: url("svg/sprite.view-9b36927a.svg") 58.18181818181818% 0 no-repeat;
}

.hm-icon-play-button-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-plus {
	background: url("svg/sprite.view-9b36927a.svg") 60% 0 no-repeat;
}

.hm-icon-plus-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-price-tag {
	background: url("svg/sprite.view-9b36927a.svg") 61.81818181818182% 0 no-repeat;
}

.hm-icon-price-tag-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-profile {
	background: url("svg/sprite.view-9b36927a.svg") 63.63636363636363% 0 no-repeat;
}

.hm-icon-profile-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-question {
	background: url("svg/sprite.view-9b36927a.svg") 65.45454545454545% 0 no-repeat;
}

.hm-icon-question-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-rating {
	background: url("svg/sprite.view-9b36927a.svg") 67.27272727272727% 0 no-repeat;
}

.hm-icon-rating-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-refresh {
	background: url("svg/sprite.view-9b36927a.svg") 69.0909090909091% 0 no-repeat;
}

.hm-icon-refresh-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-rocket-launch {
	background: url("svg/sprite.view-9b36927a.svg") 70.9090909090909% 0 no-repeat;
}

.hm-icon-rocket-launch-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-save {
	background: url("svg/sprite.view-9b36927a.svg") 72.72727272727273% 0 no-repeat;
}

.hm-icon-save-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-scale {
	background: url("svg/sprite.view-9b36927a.svg") 74.54545454545455% 0 no-repeat;
}

.hm-icon-scale-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-screen {
	background: url("svg/sprite.view-9b36927a.svg") 76.36363636363636% 0 no-repeat;
}

.hm-icon-screen-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-smartphone-call {
	background: url("svg/sprite.view-9b36927a.svg") 78.18181818181819% 0 no-repeat;
}

.hm-icon-smartphone-call-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-smartphone-plus {
	background: url("svg/sprite.view-9b36927a.svg") 80% 0 no-repeat;
}

.hm-icon-smartphone-plus-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-smartphone-ring {
	background: url("svg/sprite.view-9b36927a.svg") 81.81818181818181% 0 no-repeat;
}

.hm-icon-smartphone-ring-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-star {
	background: url("svg/sprite.view-9b36927a.svg") 83.63636363636364% 0 no-repeat;
}

.hm-icon-star-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-stomach {
	background: url("svg/sprite.view-9b36927a.svg") 85.45454545454545% 0 no-repeat;
}

.hm-icon-stomach-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-success {
	background: url("svg/sprite.view-9b36927a.svg") 87.27272727272727% 0 no-repeat;
}

.hm-icon-success-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-team {
	background: url("svg/sprite.view-9b36927a.svg") 89.0909090909091% 0 no-repeat;
}

.hm-icon-team-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-three-dot {
	background: url("svg/sprite.view-9b36927a.svg") 90.9090909090909% 0 no-repeat;
}

.hm-icon-three-dot-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-user {
	background: url("svg/sprite.view-9b36927a.svg") 92.72727272727273% 0 no-repeat;
}

.hm-icon-user-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-warning {
	background: url("svg/sprite.view-9b36927a.svg") 94.54545454545455% 0 no-repeat;
}

.hm-icon-warning-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-webinar {
	background: url("svg/sprite.view-9b36927a.svg") 96.36363636363636% 0 no-repeat;
}

.hm-icon-webinar-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-work {
	background: url("svg/sprite.view-9b36927a.svg") 98.18181818181819% 0 no-repeat;
}

.hm-icon-work-dims {
	width: 16px;
	height: 16px;
}

.hm-icon-world {
	background: url("svg/sprite.view-9b36927a.svg") 100% 0 no-repeat;
}

.hm-icon-world-dims {
	width: 16px;
	height: 16px;
}

