@model HLS.Topup.Web.Views.Shared.Components.AccountLogo.AccountLogoViewModel
<a href="~/" class="text-center mb-10">
    <img src="/Common/Images/app-logo-on-light.svg" alt="" class="max-h-70px"/>
</a>
