﻿<section class="product_intro">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product_intro_text">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-3">
                                <img src="~/themes/default/Uploads/2017-06/20170606194907home-personalize.png" alt="Nạp tiền t&#237;ch koin đổi qu&#224; gi&#225; trị">
                            </div>
                            <div class="col-md-10 col-sm-9 col-xs-9">
                                <span class="title">Nạp tiền t&#237;ch koin đổi qu&#224; gi&#225; trị</span>
                                <p class="text"><p>Sau mỗi lần nạp thẻ, bạn đều c&oacute; thể t&iacute;ch koin v&agrave; d&ugrave;ng số koin c&oacute; được để đổi về những phần qu&agrave; gi&aacute; trị cực chất. NapTien24h sẽ chuyển qu&agrave; về tận nơi cho bạn!</p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-3">
                                <img src="~/themes/default/Uploads/2017-06/20170606195029home-fast.png" alt="Nhanh v&#224; dễ d&#224;ng">
                            </div>
                            <div class="col-md-10 col-sm-9 col-xs-9">
                                <span class="title">Nhanh v&#224; dễ d&#224;ng</span>
                                <p class="text"><p>Với hệ thống ổn định, thao t&aacute;c nạp tiền đơn giản v&agrave; cơ chế c&aacute; nh&acirc;n h&oacute;a nội dung d&agrave;nh ri&ecirc;ng cho bạn, việc nạp tiền v&agrave; thanh to&aacute;n của bạn sẽ được thực hiện nhanh nhất c&oacute; thể.</p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-3">
                                <img src="~/themes/default/Uploads/2017-06/20170606195103home-secure.png" alt="Bảo mật tuyệt đối">
                            </div>
                            <div class="col-md-10 col-sm-9 col-xs-9">
                                <span class="title">Bảo mật tuyệt đối</span>
                                <p class="text"><p>Tại NapTien24h, mọi th&ocirc;ng tin của bạn sẽ được bảo mật tuyệt đối để bạn an t&acirc;m nạp tiền bất cứ nơi đ&acirc;u, bất cứ khi n&agrave;o!</p>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-3">
                                <img src="~/themes/default/Uploads/2017-06/20170606195142home-support.png" alt="Hỗ trợ 24/7">
                            </div>
                            <div class="col-md-10 col-sm-9 col-xs-9">
                                <span class="title">Hỗ trợ 24/7</span>
                                <p class="text"><p>Đội ngũ NapTien24h lu&ocirc;n sẵn s&agrave;ng hỗ trợ bạn trong mọi t&igrave;nh huống, bất kể ng&agrave;y đ&ecirc;m một c&aacute;ch nhanh nhất qua tất cả c&aacute;c k&ecirc;nh.</p>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 hidden-xs">
                <div class="product_intro_img">
                    <img src="~/themes/default/images/phone-cover-1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>