@{
    Layout = $"~/Views/Layout/_LayoutGmobile.cshtml";
    ViewBag.Title = "Đổi mật khẩu";
}
@{
    ViewBag.CurrentPageName = FrontEndPageNames.Profile_ChangePassword;
    ViewBag.PageTitle = "Đổi mật khẩu";
    ViewBag.ImageTitle = "/themes/topup/images/change-password-white.svg";
    ViewBag.Breadcrumbs = new List<(string Text, string Url)>
    {
        ("Thông tin cá nhân", Url.Action("", "")),
        ("Đổi mật khẩu", Url.Action("", "")),
    };
}
@await Html.PartialAsync("~/Views/Layout/Shared/_SubHeaderPartial.cshtml")

@section Scripts
{
    <script abp-src="/view-resources/Views/Profile/ChangePassword.js"></script>
}

<!--begin::Entry-->
<div class="d-flex flex-column-fluid" id="Profile_ChangePassword_Page">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Profile Personal Information-->
        <div class="d-flex flex-row">
            @await Html.PartialAsync("~/Views/Profile/_ProfileAside.cshtml")
            <!--begin::Content-->
            <div class="flex-row-fluid ml-lg-8" id="Profile_Edit_Page">
                <!--begin::Card-->
                <div class="card card-custom card-stretch">
                    <!--begin::Header-->
                    <div class="card-header py-3">
                        <div class="card-title align-items-start flex-column">
                            <h3 class="card-label font-weight-bolder text-dark">Đổi mật khẩu</h3>
                        </div>
                        <div class="card-toolbar">
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Form-->
                    <form class="form" id="changePassword">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label required">Mật khẩu hiện tại</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input type="password" autocomplete="new-password" name="CurrentPassword" class="form-control form-control-lg" value="" maxlength="@HLS.Topup.Authorization.Users.User.MaxPlainPasswordLength" required=""/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label required">Mật khẩu mới</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input id="NewPassword" type="password" autocomplete="new-password" name="NewPassword" class="form-control form-control-lg" value="" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label required">Nhập lại mật khẩu mới</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input id="NewPasswordRepeat" type="password" autocomplete="new-password" name="NewPasswordRepeat" class="form-control form-control-lg" value="" required equalto="#NewPassword"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label"></label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="btn-group">
                                        <button type="button" id="btn-Confirm" class="btn btn-success mr-2">Xác nhận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </form>
                    <!--end::Form-->
                </div>
            </div>
            <!--end::Content-->
        </div>
        <!--end::Profile Personal Information-->
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->

