@{
    Layout = $"~/Views/Layout/_LayoutGmobile.cshtml";
}
@using HLS.Topup.Authorization
@using HLS.Topup.Dtos.Accounts
@model HLS.Topup.Web.Models.Account.ProfileModel
@{
    ViewBag.CurrentPageName = FrontEndPageNames.Profile;
    ViewBag.Title = "Thông tin tài khoản";
    ViewBag.ImageTitle = "/themes/topup/images/ic_banner_top/profile-white.svg";
}

@section Scripts
{
    <script type="text/javascript">
        function editVerifyAccount() {
            setLocalStorage('modalVerify', true);
            window.location.href = ('/Profile/Edit');
        }

        var KTProfile = function () {
            // Elements
            var offcanvas;

            // Private functions
            var _initAside = function () {
                // Mobile offcanvas for mobile mode
                offcanvas = new KTOffcanvas('kt_profile_aside', {
                    overlay: true,
                    baseClass: 'offcanvas-mobile',
                    //closeBy: 'kt_user_profile_aside_close',
                    toggleBy: 'kt_subheader_mobile_toggle'
                });
            }

            return {
                // public functions
                init: function() {
                    _initAside();
                }
            };
        }();

        jQuery(document).ready(function() {
            KTProfile.init();
        });
    </script>
}

@{
    ViewBag.CurrentPageName = FrontEndPageNames.Profile_Edit;
    ViewBag.PageTitle = "Thông tin tài khoản";
    ViewBag.MobileToggle = true;
    ViewBag.Breadcrumbs = new List<(string Text, string Url)>
    {
        ("Trang chủ", Url.Action("Index", "Home")),
        ("Thông tin tài khoản", Url.Action("Index", "Profile")),
    };
}
@await Html.PartialAsync("~/Views/Layout/Shared/_SubHeaderPartial.cshtml")

<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Profile Personal Information-->
        <div class="d-flex flex-row">
            @await Html.PartialAsync("~/Views/Profile/_ProfileAside.cshtml")
            @await Html.PartialAsync("~/Views/Profile/_AccountInfo.cshtml")
        </div>
        <!--end::Profile Personal Information-->
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->