@{
    Layout = $"~/Views/Layout/_LayoutGmobile.cshtml";
}
@using Abp.Timing
@model HLS.Topup.Authorization.Accounts.Dto.CreateOrEditAgentModalViewModel
@{
    ViewBag.CurrentPageName = FrontEndPageNames.Profile_ChangePassword2;
    //ViewBag.ImageTitle = Url.Action("GetProfilePicture", "Profile", new {area = string.Empty});
    ViewBag.ImageTitle = "/themes/topup/images/change-password-white.svg";
    var isPass = (bool)ViewBag.IsLevel2Password;
    ViewBag.Title = isPass ? "Thay đổi mật khẩu cấp 2" : "Tạo mật khẩu cấp 2";
    ViewBag.PageTitle = isPass ? "Thay đổi mật khẩu cấp 2" : "Tạo mật khẩu cấp 2";
    var msg = isPass ? "Thay đổi mật khẩu cấp 2 thành công" : "Tạo mật khẩu cấp 2 thành công";
    ViewBag.Breadcrumbs = new List<(string Text, string Url)>
    {
        ("Thông tin cá nhân", Url.Action("Index", "Profile")),
        (ViewBag.PageTitle, Url.Action("Password2Level", "Profile")),
    };
}
@await Html.PartialAsync("~/Views/Layout/Shared/_SubHeaderPartial.cshtml")

@section Scripts
{
    <script abp-src="/view-resources/Views/Profile/ChangePassword2.js" asp-append-version="true"></script>
}

<!--begin::Entry-->
<div class="d-flex flex-column-fluid" id="Profile_Password2_Page">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Profile Personal Information-->
        <div class="d-flex flex-row">
            @await Html.PartialAsync("~/Views/Profile/_ProfileAside.cshtml")
            <!--begin::Content-->
            <div class="flex-row-fluid ml-lg-8">
                <!--begin::Card-->
                <div class="card card-custom card-stretch">
                    <!--begin::Header-->
                    <div class="card-header py-3">
                        <div class="card-title align-items-start flex-column">
                            <h3 class="card-label font-weight-bolder text-dark">@ViewBag.PageTitle</h3>
                        </div>
                        <div class="card-toolbar">
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Form-->
                    <form class="form" id="profileForm">
                        <!--begin::Body-->
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label required">Nhập mật khẩu cấp 2 mới</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input type="password" autocomplete="new-password" name="password" class="form-control form-control-lg only-number-input" value="" placeholder="Nhập mật khẩu cấp 2 mới" maxlength="6" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label required">Nhập lại mật khẩu cấp 2</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input id="passwordConfirm" type="password" autocomplete="new-password" name="passwordConfirm" class="form-control form-control-lg" value="" placeholder="Nhập lại mật khẩu cấp 2" maxlength="6" required/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label"></label>
                                <div class="col-lg-9 col-xl-6">
                                    <div class="btn-group">
                                        <button type="button" onClick="ctrl.nextToStep()" class="btn btn-success mr-2">Xác nhận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </form>
                    <!--end::Form-->
                </div>
            </div>
            <!--end::Content-->
        </div>
        <!--end::Profile Personal Information-->
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->