@{
    Layout = $"~/Views/Layout/_LayoutProfile.cshtml";
}
@using Abp.Timing
@model HLS.Topup.Authorization.Accounts.Dto.CreateOrEditAgentModalViewModel
@{
    ViewBag.CurrentPageName = FrontEndPageNames.Profile_ChangePassword2;
    //ViewBag.ImageTitle = Url.Action("GetProfilePicture", "Profile", new {area = string.Empty});
    ViewBag.ImageTitle = "/themes/topup/images/change-password-white.svg";
    var isPass = (bool)ViewBag.IsLevel2Password;
    ViewBag.Title = isPass ? "Thay đổi mật khẩu cấp 2" : "Tạo mật khẩu cấp 2" ;
    var msg = isPass ? "Thay đổi mật khẩu cấp 2 thành công" : "Tạo mật khẩu cấp 2 thành công" ;
}

@section Scripts
{
    <script abp-src="/view-resources/Views/Profile/ChangePassword2.js" asp-append-version="true"></script>
}

<div id="Profile_Password2_Page" class="section-body-middle">
    <form class="step step1" id="profileForm">
        <div class="section-body-middle-form-p1 no-border-top">
            <div class="form-group margin-big">
                <label for="" class="title"> Nhập mật khẩu cấp 2 mới &nbsp;<span class="lightred">(*)</span> </label>
                <div class="form-group-wrap">
                    <input tabindex="1" required="required" placeholder="Nhập mật khẩu cấp 2"
                           type="password" name="password"
                           class="form-control only-number-input"
                           maxlength="6">
                </div>
            </div>
            <div class="form-group margin-big">
                <label for="" class="title">  Nhập lại mật khẩu cấp 2 &nbsp; <span class="lightred">(*)</span></label>
                <div class="form-group-wrap">
                    <input tabindex="1" required="required" placeholder="Nhập lại mật khẩu cấp 2"
                           type="password" name="passwordConfirm"
                           class="form-control only-number-input"
                           maxlength="6">
                </div>
            </div>
        </div>

        <div class="section-body-middle-form-p2">
            <div class="row">
                <div tabindex="7" class="col-md-12 text-right">
                    <button type="button" onclick="ctrl.back()" class="button btn-custom btn-grey">Quay lại</button>
                    <button type="button" onClick="ctrl.nextToStep()" class="button btn-custom btn-blue">Xác nhận</button>
                </div>
            </div>
        </div>

    </form>
</div>
<script>
window.changePw2_msg = '@msg';
</script>
