﻿<div class="functions">
    <div class="container">
        <h3 class="title-page">
            CÙNG MobileGo TRẢI NHIỆM CÁC DỊCH VỤ
        </h3>
        <div class="detail-title-page  text-center">
            <p class="mb-30">
                MobileGo là hệ thống nạp tiền điện thoại, thanh toán cước, nạp game, mua mã thẻ online với chiết khấu cao cùng các dịch vụ đa dạng
            </p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-4 col-xs-50">
                <div class="func-detail">
                    <a href="/Transactions/TransferMoney">
                        <p class="func-icon ">
                            <i class="fas fa-comments-dollar"></i>
                        </p>
                        <div class="name-func">
                            Chuyển tiền
                        </div>
                        <div class="type-func">
                            Tài khoản
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-4 col-xs-50">
                <div class="func-detail">
                    <a href="/AgentManagement">
                        <p class="func-icon ">
                            <i class="fas fa-users-cog"></i>
                        </p>
                        <div class="name-func">
                            Quản lý đại lý
                        </div>
                        <div class="type-func">
                            Đại lý
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-4 col-xs-50">
                <div class="func-detail">
                    <a href="/DiscountManagement">
                        <p class="func-icon ">
                            <i class="fas fa-user-tag"></i>
                        </p>
                        <div class="name-func">
                            Quản lý chiết khấu đại lý
                        </div>
                        <div class="type-func">
                            Đại lý
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-4 col-xs-50">
                <div class="func-detail">
                    <a href="/Topup">
                        <p class="func-icon ">
                            <i class="fas fa-phone"></i>
                        </p>
                        <div class="name-func">
                            Nạp tiền điện thoại
                        </div>
                        <div class="type-func">
                            Thanh toán
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-4 col-xs-50">
                <div class="func-detail">
                    <a href="/Topup/TopupList">
                        <p class="func-icon ">
                            <i class="fas fa-clipboard-list"></i>
                        </p>
                        <div class="name-func">
                            Nạp danh sách
                        </div>
                        <div class="type-func">
                            Thanh toán
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-4 col-xs-50">
                <div class="func-detail">
                    <a href="/Topup/PinCode">
                        <p class="func-icon ">
                            <i class="fas fa-sd-card"></i>
                        </p>
                        <div class="name-func">
                            Mua mã thẻ
                        </div>
                        <div class="type-func">
                            Thanh toán
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-4 col-xs-50">
                <div class="func-detail">
                    <a href="/Topup/Tkc">
                        <p class="func-icon ">
                            <i class="fas fa-chart-line"></i>
                        </p>
                        <div class="name-func">
                            Bắn tiền tài khoản chính
                        </div>
                        <div class="type-func">
                            Thanh toán
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-4 col-xs-50">
                <div class="func-detail">
                    <a href="/Topup/SmsGame">
                        <p class="func-icon ">
                            <i class="fas fa-gamepad"></i>
                        </p>
                        <div class="name-func">
                            Nạp game
                        </div>
                        <div class="type-func">
                            Thanh toán
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>