﻿<div class="introduce">
    <div class="container">
        <h3 class="title-page ">
            @{ var title = "Hệ thống nạp tiền điện thoại, thanh toán cước, mua mã thẻ online".ToUpper();}
            @title
        </h3>
        <div class="introduce-content">
            <div class="row mb-30">
                <div class="col-sm-6 col-xs-6 col-xs-100">
                    <img src="~/themes/default/images/gdexgyfw.png" class="w-100"/>
                </div>
                <div class="col-sm-6 col-xs-6 col-xs-100">
                    <div class="detail">
                        <h4>Thanh toán</h4>
                        <p>
                            Với hệ thống ổn định, thao tác nạp tiền đơn giản và cơ chế cá nhân hóa nội dung dành riêng cho bạn, việc nạp tiền và thanh toán của bạn sẽ được thực hiện nhanh nhất có thể
                        </p>
                        <h4>Chiết khấu</h4>
                        <p>
                            Thanh toán các dịch vụ với chiết khấu và ưu đãi cao
                        </p>
                        <h4>Bảo mật tuyệt đối</h4>
                        <p>
                            Mọi thông tin của bạn sẽ được bảo mật tuyệt đối để bạn an tâm nạp tiền bất cứ nơi đâu, bất cứ khi nào!
                        </p>
                        <h4>Hỗ trợ 24/7</h4>
                        <p>
                            Đội ngũ MobileGo luôn sẵn sàng hỗ trợ bạn trong mọi tình huống, bất kể ngày đêm một cách nhanh nhất qua tất cả các kênh.
                        </p>
                        <h4 class="view-add">
                            <a href="#" class="black" target="_blank">Tìm hiểu thêm <i class="fa fa-arrow-right"></i></a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>