﻿
    <div class="top_news">
        <div class="container">
            <h3 class="title-page top_news_title">
                TIN TỨC & KHUYẾN MẠI
            </h3>
            <div class="top_news_content">
                <div class="row" id="top_news_content">
                    <div class="">
                        <div class="top_news_item">
                            <div class="image">
                                <a href="#" rel="nofollow" title="Viettel khuyến mãi 20% Toàn Quốc vào ngày 10/1/2020">
                                    <img src="~/themes/default/Uploads/2020-01/20200109083229viettel-khuyen-mai-20-toan-quoc-vao-ngay-10-1-202045180medium250x200.jpg" alt="Viettel khuyến mãi 20% Toàn Quốc vào ngày 10/1/2020" />
                                </a>
                            </div>
                            <!--<div class="meta">
                            <i class="fa fa-calendar"></i> 09-01-2020 08:24:59
                        </div>-->
                            <h4 class="title">
                                <a href="#" rel="nofollow" title="Viettel khuyến mãi 20% Toàn Quốc vào ngày 10/1/2020">Viettel khuyến mãi 20% Toàn Quốc vào ngày 10/1/2020</a>
                            </h4>
                        </div>
                    </div>
                    <div class="">
                        <div class="top_news_item">
                            <div class="image">
                                <a href="#" rel="nofollow" title="VinaPhone tặng 20% thẻ nạp vào ngày 10/1/2020 cho mọi thuê bao">
                                    <img src="~/themes/default/Uploads/2020-01/20200108082232vinaphone-tang-20-the-nap-vao-ngay-10-1-2020-cho-moi-thue-bao45179medium250x200.jpg" alt="VinaPhone tặng 20% thẻ nạp vào ngày 10/1/2020 cho mọi thuê bao" />
                                </a>
                            </div>
                            <!--<div class="meta">
                            <i class="fa fa-calendar"></i> 08-01-2020 08:10:55
                        </div>-->
                            <h4 class="title">
                                <a href="#" rel="nofollow" title="VinaPhone tặng 20% thẻ nạp vào ngày 10/1/2020 cho mọi thuê bao">VinaPhone tặng 20% thẻ nạp vào ngày 10/1/2020 cho mọi thuê bao</a>
                            </h4>
                        </div>
                    </div>
                    <div class="">
                        <div class="top_news_item">
                            <div class="image">
                                <a href="#" rel="nofollow" title="MobiFone khuyến mãi 20% vào ngày 8/1/2020">
                                    <img src="~/themes/default/Uploads/2020-01/20200105155755mobifone-khuyen-mai-20-vao-ngay-8-1-202045177medium250x200.jpg" alt="MobiFone khuyến mãi 20% vào ngày 8/1/2020" />
                                </a>
                            </div>
                            <!--<div class="meta">
                            <i class="fa fa-calendar"></i> 05-01-2020 15:42:22
                        </div>-->
                            <h4 class="title">
                                <a href="mobifone-khuyen-mai-20-vao-ngay-8-1-2020.html" rel="nofollow" title="MobiFone khuyến mãi 20% vào ngày 8/1/2020">MobiFone khuyến mãi 20% vào ngày 8/1/2020</a>
                            </h4>
                        </div>
                    </div>
                    <div class="">
                        <div class="top_news_item">
                            <div class="image">
                                <a href="#" rel="nofollow" title="Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020">
                                    <img src="~/themes/default/Uploads/2020-01/20200103172340viettel-tang-20-the-nap-theo-danh-sach-tu-ngay-3-1-21-1-202045175medium250x200.jpg" alt="Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020" />
                                </a>
                            </div>
                            <!--<div class="meta">
                            <i class="fa fa-calendar"></i> 03-01-2020 17:10:00
                        </div>-->
                            <h4 class="title">
                                <a href="#" rel="nofollow" title="Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020">Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020</a>
                            </h4>
                        </div>
                    </div>
                    <div class="">
                        <div class="top_news_item">
                            <div class="image">
                                <a href="#" rel="nofollow" title="Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020">
                                    <img src="~/themes/default/Uploads/2020-01/20200103172340viettel-tang-20-the-nap-theo-danh-sach-tu-ngay-3-1-21-1-202045175medium250x200.jpg" alt="Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020" />
                                </a>
                            </div>
                            <!--<div class="meta">
                            <i class="fa fa-calendar"></i> 03-01-2020 17:10:00
                        </div>-->
                            <h4 class="title">
                                <a href="#" rel="nofollow" title="Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020">Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020</a>
                            </h4>
                        </div>
                    </div>
                    <div class="">
                        <div class="top_news_item">
                            <div class="image">
                                <a href="#" rel="nofollow" title="Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020">
                                    <img src="~/themes/default/Uploads/2020-01/20200103172340viettel-tang-20-the-nap-theo-danh-sach-tu-ngay-3-1-21-1-202045175medium250x200.jpg" alt="Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020" />
                                </a>
                            </div>
                            <!--<div class="meta">
                            <i class="fa fa-calendar"></i> 03-01-2020 17:10:00
                        </div>-->
                            <h4 class="title">
                                <a href="#" rel="nofollow" title="Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020">Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020</a>
                            </h4>
                        </div>
                    </div>
                    <div class="">
                        <div class="top_news_item">
                            <div class="image">
                                <a href="#" rel="nofollow" title="Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020">
                                    <img src="~/themes/default/Uploads/2020-01/20200103172340viettel-tang-20-the-nap-theo-danh-sach-tu-ngay-3-1-21-1-202045175medium250x200.jpg" alt="Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020" />
                                </a>
                            </div>
                            <!--<div class="meta">
                            <i class="fa fa-calendar"></i> 03-01-2020 17:10:00
                        </div>-->
                            <h4 class="title">
                                <a href="#" rel="nofollow" title="Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020">Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020</a>
                            </h4>
                        </div>
                    </div>
                    <div class="">
                        <div class="top_news_item">
                            <div class="image">
                                <a href="#" rel="nofollow" title="Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020">
                                    <img src="~/themes/default/Uploads/2020-01/20200103172340viettel-tang-20-the-nap-theo-danh-sach-tu-ngay-3-1-21-1-202045175medium250x200.jpg" alt="Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020" />
                                </a>
                            </div>
                            <!--<div class="meta">
                            <i class="fa fa-calendar"></i> 03-01-2020 17:10:00
                        </div>-->
                            <h4 class="title">
                                <a href="#" rel="nofollow" title="Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020">Viettel tặng 20% thẻ nạp theo danh sách từ ngày 3/1 - 21/1/2020</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   
