@using Abp.Authorization.Users
@using HLS.Topup.Localization
@section Scripts
{
    <script abp-src="/view-resources/Views/Account/ForgotPassword.js" asp-append-version="true"></script>
}

<!--begin::Signin-->
<div class="login-form">
    <!--begin::Form-->
    <form class="login-form form" asp-action="Login" id="kt_login_signin_form">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @ViewBag.ErrorMessage
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <!--begin::Form group-->
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder text-dark required">Số điện thoại</label>
            <input class="form-control h-auto py-4 px-6 rounded-lg" type="text" name="phoneNumber" id="phoneNumber" value="" placeholder="Số điện thoại" autocomplete="off" required/>
            <small>Nhập SĐT đăng ký tài khoản của bạn để xác nhận khôi phục mật khẩu</small>
        </div>
        <!--end::Form group-->
        <!--begin::Action-->
        <div class="pb-lg-0 pb-5">
            <button type="submit" onclick="history.back()" class="btn btn-secondary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Quay lại</button>
            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Gửi yêu cầu</button>
        </div>
        <!--end::Action-->
    </form>
    <!--end::Form-->
</div>
<!--end::Signin-->