<div class="bg-dark brand-footer nopadding">
    <div class="container contact">
        <div class="text-coppyright">
            <div class="text-coppyright__main">CÔNG TY CỔ PHẦN VIỄN THÔNG DI ĐỘNG TOÀN CẦU GTEL MOBILE JSC</div>
            <div class="text-coppyright__sub">
                Địa chỉ: 105 Nguyễn Tuân, P.Thanh Xuân Trung, Q.Thanh Xuân, TP.Hà Nội
                <br> Điện thoại: <a href="tel:0692326572">0692.326.572</a> - Email: <a href="mailto:dvkh@gmobile.vn">dvkh@gmobile.vn</a>
            </div>
        </div>
    </div>
</div>
