<div class="bg-dark brand-footer nopadding">
    <div class="container contact">
        <div class="text-coppyright">
            <div class="text-coppyright__main">Công ty cổ phần Thương Mại Dịch Vụ Nhất Trần</div>
            <div class="text-coppyright__sub">
                Địa chỉ: 350/2 Nguyễn Trọng Tuyển, P2, Quận Tân Bình, Tp. Hồ Chí Minh, Việt Nam
                <br> Điện thoại: <a href="tel:0921911911">0921.911.911</a> - Email: <a href="mailto:hoto@nhattran.com.vn">hoto@nhattran.com</a>
            </div>
        </div>
        <div class="logo-protect">
            <span class="logo-protect__left">
                <img src="/themes/topup/images/logo_full.svg" alt="">
            </span>
            @* <a href="http://online.gov.vn/CustomWebsiteDisplay.aspx?DocId=1732" target="_blank"> *@
            @*     <img src="/Resources/images/boct.svg" alt="" class="logo-protect__bg"> *@
            @* </a> *@
                <a href="itms-services://?action=download-manifest&url=@ViewBag.Ios">
                    <img src="/themes/topup/images/appstore.png" alt="" class="logo-protect__bg" style="height:30px">
                </a>
            <a href="@ViewBag.Android" target="_blank">
                <img src="/themes/topup/images/googleplay.png" alt="" class="logo-protect__bg">
            </a>
        </div>
    </div>
</div>
