<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="dich-vu/thanh-toan-hoa-don-nuoc-online.html"
               title="https://www.vban.vn/dich-vu/thanh-toan-hoa-don-nuoc-online.aspx">
                <img
                    src="Uploads/cmsimages/tintuc/Banner_Vban_1920x840_CapNuoc_Bleed_1300x700-01.png" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="tin-tuc/Ung-dung-Vietnam-Airlines-phien-ban-moi-toi-uu-trai-nghiem-nguoi-dung-343.html"
               title="https://www.vban.vn/tin-tuc/Ung-dung-Vietnam-Airlines-phien-ban-moi-toi-uu-trai-nghiem-nguoi-dung-343.html">
                <img
                    src="Uploads/cmsimages/Trangchu/Vietnamariline.jpg" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="dich-vu/thanh-toan-hoa-don.html"
               title="https://www.vban.vn/dich-vu/thanh-toan-hoa-don.aspx">
                <img
                    src="Uploads/cmsimages/Trangchu/VNPT%20toan%20quoc.jpg" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="dich-vu/thanh-toan-hoa-don-tien-dien.html"
               title="https://www.vban.vn/dich-vu/thanh-toan-hoa-don-tien-dien.aspx">
                <img
                    src="Uploads/cmsimages/tintuc/Banner_Vban_1920x840_EVN_Bleed_1300x700-01.png" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="tin-tuc/THANH-TOAN-HOC-PHI-MOT-TI-XONG-NGAY-505.html"
               title="https://www.vban.vn/tin-tuc/THANH-TOAN-HOC-PHI-MOT-TI-XONG-NGAY-505.html">
                <img
                    src="Uploads/cmsimages/tintuc/%5bDH%20Van%20Lang%5d_Banner_Vban(1).png" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="tin-tuc/Viettel-Khuyen-Mai-20-gia-tri-the-nap-tu-00h00-den-23h59-ngay-10092020-546.html"
               title="https://www.vban.vn/tin-tuc/Viettel-Khuyen-Mai-20-gia-tri-the-nap-tu-00h00-den-23h59-ngay-10092020-546.html">
                <img
                    src="Uploads/cmsimages/Trangchu/Viettel%20-%20Khuyen%20mai%20ngay_10_09_2020%20BN.png"
                    alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="tin-tuc/Uu-dai-thang-9-gia-han-goi-cuoc-The-Thao-chi-tu-119k-khi-thanh-toan-trenVban-547.html"
               title="https://www.vban.vn/tin-tuc/Uu-dai-thang-9-gia-han-goi-cuoc-The-Thao-chi-tu-119k-khi-thanh-toan-trenVban-547.html">
                <img
                    src="Uploads/cmsimages/tintuc/Vban-1200-x-628(2).jpg" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="dich-vu/mua-ve-may-bay.html" title="https://www.vban.vn/dich-vu/mua-ve-may-bay.aspx">
                <img
                    src="Uploads/cmsimages/Trangchu/Banner_Vban_1600x700_VNPT_Bleed-01.png" alt="">
            </a>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>