<div class="container-fluid">
    <ul class="nav navbar-nav">
        <li class="dropdown mega-dropdown">
            <a href="/topup" class="dropdown-toggle">
                <div class="mega-icon icon01"></div>
                Nạp tiền <span class="inline-block">điện thoại</span>
            </a>
        </li>
        <li class="dropdown mega-dropdown touch">
            <a class="dropdown-toggle" href="/topup/pincode">
                <div class="mega-icon icon05"></div>
                Mua mã thẻ <span class="inline-block">trả trước</span>
            </a>
            <ul class="dropdown-menu sm-mega-menu">
                <li class="nopadding">
                    <ul class="side-menu nopadding">
                        <li>
                            <a href="/topup/pincode?tab=mobile">Mua mã thẻ điện thoại</a>
                        </li>

                        <li>
                            <a href="/topup/pincode?tab=datamg">Mã thẻ data 3G-4G</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown mega-dropdown touch">
            <a class="dropdown-toggle" href="dich-vu/mua-ve-may-bay.html">
                <div class="mega-icon icon02"></div>
                Mua vé <span class="inline-block">máy bay</span>
            </a>
            <ul class="dropdown-menu sm-mega-menu">
                <li class="nopadding">
                    <ul class="side-menu nopadding">
                        <li>
                            <a href="dich-vu/mua-ve-may-bayc993.html?tab=noi-dia">Đặt vé máy bay nội địa</a>
                        </li>
                        <li>
                            <a href="dich-vu/mua-ve-may-bay051b.html?tab=quoc-te">Đặt vé máy bay quốc tế</a>
                        </li>
                        <li>
                            <a href="dich-vu/tra-cuu-thanh-toan-ve-may-bay.html">Thanh toán mã đặt chỗ</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown mega-dropdown touch">
            <a class="dropdown-toggle" href="dich-vu/thanh-toan-hoa-don.html">
                <div class="mega-icon icon03"></div>
                Thanh toán <span class="inline-block">hóa đơn</span>
            </a>
            <ul class="dropdown-menu sm-mega-menu">
                <li class="nopadding">
                    <ul class="side-menu nopadding">
                        <div class="pull-left">
                            <li>
                                <a href="dich-vu/thanh-toan-hoa-don-di-dong.html">Hóa đơn di động trả sau</a>
                            </li>
                            <li>
                                <a href="dich-vu/thanh-toan-hoa-don-pstn.html">
                                    Điện thoại cố định -
                                    Homephone
                                </a>
                            </li>
                            <li>
                                <a href="dich-vu/thanh-toan-hoa-don-adsl.html">Hóa đơn ADSL</a>
                            </li>
                            <li>
                                <a href="dich-vu/thanh-toan-hoa-don-truyen-hinh-cap.html">
                                    Hóa đơn truyền
                                    hình
                                </a>
                            </li>
                        </div>
                        <div class="pull-left">
                            <li>
                                <a href="dich-vu/thanh-toan-hoa-don-tien-dien.html">Hóa đơn điện</a>
                            </li>
                            <li>
                                <a href="dich-vu/thanh-toan-hoa-don-nuoc-online.html">Hóa đơn tiền nước</a>
                            </li>
                            <li>
                                <a href="dich-vu/thanh-toan-hoc-phi.html">Thanh toán học phí</a>
                            </li>
                        </div>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown mega-dropdown">
            <a href="dich-vu/chuyen-tien-visa-direct.html" class="dropdown-toggle">
                <div class="mega-icon icon44"></div>
                Chuyển tiền <span class="inline-block">vào thẻ visa</span><br>
                <span class="mega-dropdown__note">MasterCard</span>
            </a>
        </li>

        <li class="dropdown mega-dropdown mega-show-more">
            <a class="dropdown-toggle">
                <div class="mega-icon icon3dots"></div>
                <span class="mega-dropdown__note">Tiện ích khác</span>
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="dropdown mega-dropdown touch">
            <a href="dich-vu/fe-credit-vay-tieu-dung-tin-chap.html" class="dropdown-toggle">
                <div class="mega-icon icon47"></div>
                Thanh toán <span class="inline-block">vay tín dụng</span>
            </a>
            <ul class="dropdown-menu sm-mega-menu">
                <li class="nopadding">
                    <ul class="side-menu nopadding">
                        <li>
                            <a href="dich-vu/fe-credit-vay-tieu-dung-tin-chap7e7f.html?p=fecredit">FE Credit</a>
                        </li>
                        <li>
                            <a href="dich-vu/fe-credit-vay-tieu-dung-tin-chapab42.html?p=homecredit">
                                Home
                                Credit
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown mega-dropdown mega-dropdown__hot">
            <a href="mua-ve-xem-phim.html" class="dropdown-toggle">
                <div class="mega-icon icon201"></div>
                Mua vé <span class="inline-block">xem phim</span>
            </a>
        </li>
        <li class="dropdown mega-dropdown mega-dropdown__hot">
            <a href="https://vnshop.vn/" target="_blank" class="dropdown-toggle">
                <div class="mega-icon iconvnshop"></div>
                Mua sắm
                <span class="inline-block">trực tuyến</span>
            </a>
        </li>
        <li class="dropdown mega-dropdown mega-show-less">
            <a class="dropdown-toggle">
                <div class="mega-icon iconback"></div>
                <span class="mega-dropdown__note">Quay về</span>
            </a>
        </li>
    </ul>
</div>