.w-100{
    max-width: 100% !important;
    width: 100% !important
}
.p-0-10 {
    padding: 0px 10px;
}
.p-0-15{
    padding: 0px 15px;
}
.mb-30{
    margin-bottom: 30px;
}
.m-30-0 {
    margin: 30px 0px;
}
.fw-medium{
    font-weight: 500
}
.color-main{
    color: #23A056
}
.fs-18{
    font-size: 18px;
}
.dis-flex {
    display: flex;
}
.card-body{
    min-height: 500px;
}
.width-50{
    width: 50%;
}
/*.profile-sec, .page.home {
    font-family: Roboto
}*/
.section-header .header.header-home .header-nav > ul > li > h3 > a {
    text-transform: uppercase;
    color: #000
}
.section-header .header.header-home .header-nav > ul > li > h3 > a:hover {
    border-bottom: 2px solid #23A056;
    color: #23A056
}

.logo-topup {
    width: 100%;
}
.title-page {
    font-size: 20px;
    font-weight: 500;
    color: #23A056;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px
}
.top_news{
    border-top: none;
    margin-bottom: 60px;
    margin-top: 0px;
    padding-top: 0px
}
.top_news_content .slick-slider .slick-prev {
    left: -15px;
}
.top_news_content .slick-slider .slick-next {
    right: -15px;
}
.top_news_content .row .slick-slide{
    padding: 0px 8px
}
.top_news .top_news_item .image a {
    border-radius: 6px;
}
.top_news_item .title {
    font-size: 14px;
    height:38px;
    line-height: 18px;
}
.top_news .top_news_item .image img {
    width: 100%;
}
.func-detail {
    background: #F8F8F8;
    border: 1px solid #F8F8F8;
    padding: 15px 10px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 30px;
}
.func-icon {
    padding: 10px;
    display: inline-block;
    background: #efefef;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
}
.name-func{
    font-size: 16px;
    font-weight: 500;
}
.type-func {
    font-size: 12px;
    font-weight: 600;
    opacity: .5;
}
.func-detail:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    cursor: pointer;
}
.func-detail a{
    color: #333
}
.func-detail:hover .func-icon {
    background: #23A056;
    color: #fff
}

.func-detail:hover .name-func {
    color: #23A056
}
.introduce-content .detail h4{
    margin-bottom: 0px;
    margin-top: 0px;
}
.introduce-content .detail p{
    margin-bottom: 20px;
    opacity: .6
}
.btn.btn-simple {
    color: #fff;
    font-weight: 500;
    padding: 0px;
}
.btn-main, .btn.btn-search-icon {
    background: #23A056;
    color: #fff;
    border-color: transparent
}
.close-button{
    background: #ddd;
}
.btn.btn-main:hover, .btn.btn-main:focus {
    color: #fff;
}
.page-title {
    border-bottom: 1px solid #ddd;
    position: relative;
    margin: 0px 15px 15px 0px;
}
.add-button {
    position: absolute;
    right: 0px;
    bottom: 10px;
    color: #fff;
    cursor: pointer;
}

.page-body {
    margin: 10px 0 0 0;
}

.btn-save-custom {
    background: #23a076 !important;
    border-color: #494ca2 !important;
    color: #fff !important
}

.page-body .btn-search-icon {
    padding: 6px 6px 6px 8px;
}


.account_transfer {
    margin-top: 10px;
    text-transform: uppercase;
}

.balance-account {
    font-weight: 600;
    color: #fff;
    font-size: 16px;
}

.amount-to-text {
    display: block;
    padding-top: 5px;
    font-style: italic;
}

.inputs {
    margin: 0 0 15px;
    text-align: left;
    white-space: nowrap;
}
.success-title {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top:15px;
    text-transform: uppercase;
}
.color-red {
    color: #c12026;
}

.color-blue {
    color: #38a6fe !important;
}
.icon-success {
    font-size: 40px;
    color: #23a076;
}
.icon-error {
    font-size: 40px;
    color: #D9001B;
}
/*header*/
.header.header-home .header-nav .nav-item:nth-of-type(5),
.header.header-home .header-nav .nav-item:nth-of-type(6),
.header.header-home .header-nav .nav-item:nth-of-type(7) {
    display: none
}
.header .header-nav-right {
    text-align: right;
}
.header .header-nav-right .btn-signin{
    margin-right: 0px
}
.header .header-nav-right .btn-signin:first-child {
    margin-right: 20px
}
/*Profile*/
.profile-sec .align-items-stretch {
    background: #FAFAFA;
    padding-top: 30px;
}
.profile-sec .card {
    border: none;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.profile-sec .custom-menu .card-header {
    position: relative;
    padding: 0px;
    border-bottom: none;
}
.profile-sec .user-acc {
    background: #23A056;
    /*border-top-right-radius: 6px;*/
    /*border-top-left-radius: 6px;*/
    font-weight: 600;
    padding: 10px 15px;
    color: #fff;
    position: relative;
}
.icon-menu {
    position: absolute;
    top: 0;
    right: 1px;
    padding: 10px 15px;
    z-index: 4;
    color: #fff;
    background: #23A056;
    border-radius: 6px;
}
.profile-sec .card-body {
    padding: 0px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #fff;
    /*border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd*/
}
.profile-sec #sidebar {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #fff;
    /*border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;*/
}
.rowspan{
    background: #fff
}
.profile-sec #sidebar .menu-left ul.components {
    padding: 20px
}
.profile-sec #sidebar ul li > a {
    color: #000
}
.profile-sec .custom-menu{
    padding: 0px 15px
}
.profile-sec #sidebar.active {
    background: transparent;
    border: none
}
#sidebar.active .icon-menu {
    right: -25px;
}
.profile-sec #sidebar ul li > a:hover {
    color: #23A056
}
.profile-sec #sidebar ul li.active > a {
    color: #23A056
}
.profile-sec #sidebar ul li > a span{
    width: 25px;
}
.menu-left > ul > li > a {
    font-weight: 500;
}
.menu-left > ul > li > a span {
    display: none
}
.profile-sec #content{
    padding: 0px 15px;
    overflow-x: auto
}
.profile-sec #content .card .card-header {
    background: #23A056;
    padding: 10px 15px;
    color: #fff;
    /*border-top-right-radius: 6px;*/
    /*border-top-left-radius: 6px;*/
    font-weight: 600;
}
.profile-sec table tbody td:nth-of-type(9){
    text-align: center
}
.dataTables_wrapper .bottom .form-control {
    height: 32px !important;
    padding: 5px 10px !important
}
.dataTables_wrapper .bottom .dataTables_paginate.paging_bootstrap_full_number {
    margin-top: 13px !important
}
.dataTables_wrapper .bottom .dataTables_paginate.paging_bootstrap_full_number ul li:last-child {
    margin-right: 0px;
}
.dataTables_wrapper .bottom .dataTables_length label {
    font-size: 14px;
}

.card-body .bottom .pagination > li.active > a, .card-body .bottom .pagination > li.active > a:hover {
    background: #23A056;
    border-color: #23A056;
}
#content .action-button .btn-sm:after{
    display: none
}
.modal-dialog .modal-title {
    font-size: 16px;
}
.mm-opened .mm-navbar {
    font-size: 18px;
    text-transform: uppercase;
}

.mm-opened .mm-navbar .mm-title {
    color: #000
}
.dataTables_wrapper .child .dtr-details {
    width: 100%
}
.nav-tabs .nav-link{
    color: #000
}
.nav-tabs .nav-link.active {
    color: #23a076 !important
}

/*----.transaction-history-----*/
.page-body .ip-text {
    width: calc(100% - 40px);
}
.page-body select.form-control,
.page-body input.form-control,
.page-body textarea.form-control, .login-form-body .form-control {
    padding: 5px 6px !important;
    height: 40px !important;
    /*border-radius: 4px;*/
    font-size: 14px;
}
.page-body .form-group .m-input {
    width: 46%;
}
.page-body select.form-control {
    -webkit-appearance: menulist;
}
.btn-file-export {
    color: #fff;
    border: none;
    padding: 0px;
    background: none;
    font-weight: 500
}
.cus-gachngang {
    display: inline-block;
    padding: 6px 4px;
}
.tb-transaction-history .dataTables_wrapper table thead {
    font-family: Roboto;
}
.tb-transaction-history .table-bordered > thead > tr > th {
    border: none;
    background: #ebebeb;
}
.profile-sec .profile, .profile-discount, .transactions-money, .pro-discount,
.transaction-history, .balance-history, .agent-management, .discount-management,
.collect-discount, .topup-naptiendt, .topup-muamathe, .topup-tkc, .topup-smsgame, .topup-list {
    padding: 0px 15px;
}
.info-acc {
    width: calc(100% - 90px);
}
.info-acc .position-relative {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.info-acc ul.infor li:nth-child(2){
    text-align: center
}
.info-acc ul.infor li:nth-child(3) {
    text-align: right
}
.info-acc .balance-account {
    color: #23A056
}
.info-acc ul li strong{
    font-weight: 600;
}
.post-right {
    position: absolute;
    top: 0px;
    right: 0px
}
.sta-service.stop{
    color: #dd1c1c;
}
.sta-service {
    color: #23A056;
    display: block;
    text-align: center;
}
.profile {
    border-bottom: 15px solid #FAFAFA;
    padding-bottom: 15px !important;
}
.pro-discount .page-body{
    margin-top: 0px;
}
.profile-sec .profile-acc .avatar img {
    position: relative;
    margin: 0px;
}
.profile-sec .profile .avatar {
    margin: 0px 10px 0px 0px;
    width: 80px;
    height: 80px;
    border-radius: 50rem;
}
.profile-sec .profile .avatar img {
    display: inline-block;
}

.profile-sec .profile-acc ul li:nth-of-type(3) {
}
.profile-sec .profile-acc ul li:last-child{

}
.profile-sec .profile .select-img {
    margin: auto 0px;
}
.profile-sec .profile .btn-update-info {
    border: none;
    background: #fff;
    font-weight: 400;
}

.tb-type-discount {
    max-height: 320px;
    overflow-y: scroll
}

.tb-type-discount::-webkit-scrollbar {
    background: #ddd;
    width: 6px;
    border-radius: 4px;
}
.tb-type-discount::-webkit-scrollbar-thumb {
    background-color: #23A056;
    border-radius: 4px;
}
.tb-type-discount .table{
    margin-top: 0px !important;
}
.card-body .dataTables_wrapper .action-button .btn.btn-primary,
.card-body .dataTables_wrapper .action-button .btn.btn-primary:hover,
.card-body .dataTables_wrapper .action-button .btn.btn-primary:focus {
    background: #23a056;
    border-color: #23a056;
}
.page-body .dataTables_wrapper .table thead th,
.page-body .dataTables_wrapper .table tbody td {
    border: none;
    border-bottom: 1px solid #ddd !important;
    font-family: 'Source Sans Pro',sans-serif;
}

.page-body .dataTables_wrapper table > thead > tr > th, .tb-type-discount table > thead > tr > th {
    background: #E1E1E1
}
.card-body .page-body table.dataTable.dtr-column > tbody > tr > td.control:before {
    line-height: 16px;
    box-shadow: none;
    background: #23A056
}
.profile-sec table tr td:before, .profile-sec table tr td .label-success {
    background-color: #23A056;
}
.profile-sec table tr td .label-success{
    padding: 4px 7px;
}
ul.list-unstyled li li a span:before {
    border-radius: 50%;
    background: #ddd;
    padding:4px  5px;
}
ul.list-unstyled li.active li.active a span:before {
    background: #23A056;
    color: #fff;

}
/*.list-unstyled #submenu-item-0 li:nth-child(2){
    display: none
}*/
.topup-form .policy .topup-price, .topup-form .policy .fee-payment,
.topup-form .policy .topup-quantity, .topup-form .policy .topup-account, .topup-form .policy .topup-koin {
    font-size: 14px !important;
}

.topup-form .policy .btn-checkout {
    margin: 0px auto  !important;
    font-size: 14px !important;
    padding: 10px 15px !important;
    width: auto;
    /*border-radius: 6px;*/
    text-transform: none
}
.topup-form .policy {
    background: #F8F8F8;
    border-radius: 6px;
    border: 1px solid #EFEFEF
}
.topup-form .policy-title {
    background: #23A056;
    color: #fff;
    /*border-top-left-radius: 6px;*/
    /*border-top-right-radius: 6px;*/
    padding: 10px 15px;
    font-weight: 600
}
.topup-form .policy .form-group {
    margin-top: 15px;
}
.page-body .topup-form .policy .total-price {
    font-size: 14px;
}
.page-body .topup-form .price-tag .price-tag-item {
    white-space: nowrap;

}
.page-body #bank-topup .bank-icon:hover, .page-body .list-provider .provider-item:hover, .page-body .list-provider .provider-item.active {
    border-color: #23A056;
}
.page-body .list-provider .provider-item.active:before {
    color: #23A056
}
.page-body .topup-form .price-tag .price-tag-item:hover,
.page-body .topup-form .price-tag .price-tag-item.active {
    background: #23A056;
    border-color: #23A056;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.select-file {
    border: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
    height: 34px;
    padding: 5px 6px;
    color: #38a6fe;
    font-weight: 500;
    width: 40%;
}
.text-up-file {
    padding: 8px;
    opacity: .7;
    font-size: 12px;
    font-style: italic;
}
.form-group label{
    font-weight: 400;
}
.page-title .add-button small a{
    color: #fff;
    font-weight: 600
}
.modal-body .form-group input.form-control {
    font-size: 14px;
    height: 36px !important;
    /*border-radius: 4px;*/
}
.user-info .fa, .view-add .fa {
    font-size: 14px;
    width: 20px;
}
.user-info .dropdown-menu{
    width: 200px;
}
.user-info .dropdown-menu > li > a:focus, .user-info .dropdown-menu > li > a:hover {
    background: #23A056;
    color: #fff !important
}
.page.home #footer {
    background: #F8F8F8;
    background-image: none;
    padding: 50px 0px 30px;
}
.footer-info .logo-topup{
    width: 50%;
}
.page.home #footer .footer-info .contact {
    margin-top: 20px;
}
.page.home #footer .footer-info .contact .fa{
    width: 20px;
}
.page.home #footer .footer-info ul li {
    padding: 8px 0px
}
.page.home #footer .footer-link ul {
    padding: 0 0px 0px 15px;
    border-left: 1px solid #ddd;
}
.footer-ultil {
    padding: 8px 0px 0px 15px;
    border-left: 1px solid #ddd;
}
.footer-ultil .social{
    margin-bottom: 20px;
}
.footer-ultil .social .networks a{
    margin-right: 15px;
}
.footer-ultil .mobile-app a:first-child{
    margin-right: 14px;
}
.footer-ultil .title {
    font-size: 16px;
    font-weight: 600;
    color: rgba(54,54,54,.7);
}
.page.home #footer a {
    color:#333;
}
.header .header-nav-right{
    top: 0px
}
.view-add{
    padding: 20px 0px 10px;
    border-top: 1px solid #ddd
}
.view-add a {
    color: #363636
}
.detail-title-page p{
    font-size: 18px;
}

button#btnSearch {
    height: 40px;
    width: 40px;
}

#sidebarCollapse {
    cursor: pointer;
}

/*Start CSS Bill Payment*/
.topup-billpayment .payment-box-info {
    background: #F8F8F8;
    border-radius: 6px;
    border: 1px solid #EFEFEF;
}

.topup-billpayment .policy-title {
    background: #23A056;
    color: #fff;
    /*border-top-left-radius: 6px;*/
    /*border-top-right-radius: 6px;*/
    padding: 10px 15px;
    font-weight: 600;
}

.topup-billpayment .form-group.row {
    margin-top: 15px;
    align-items: center !important;
}

.topup-billpayment .form-group.row .form-control {
    height: 35px !important;
}

.topup-billpayment {
    padding: 10px;
    padding-top: 0
}

.topup-billpayment .service-type {
    padding: 10px 0;
}

/*.topup-billpayment .list-provider .provider-item {*/
/*    height: 120px !important;*/
/*}*/

/*.topup-billpayment .list-provider .provider-item img {*/
/*    margin: 0 auto !important;*/
/*    top: 20px !important;*/
/*}*/

/*.topup-billpayment .list-provider .provider-item span {*/
/*    position: absolute;*/
/*}*/

/*End CSS Bill Payment*/

/*Start CSS Bill Payment*/
/*.list-services-type {*/
/*    margin-top: 30px;*/
/*}*/

/*.grid3, .grid4 {*/
/*    margin-top: -15px;*/
/*    position: relative;*/
/*}*/

/*.group-pay-bill.grid4, .group-pay-bill.grid3 {*/
/*    margin-top: 0;*/
/*    margin-bottom: 0;*/
/*}*/

/*.group-pay-bill.grid4>li:not(:nth-of-type(4n+0)), .group-pay-bill.grid3>li:not(:nth-of-type(3n+0)) {*/
/*    border-right: 1px solid #e6e9ed;*/
/*}*/

/*.group-pay-bill li:nth-of-type(6n) {*/
/*    border-left: 1px solid #e6e9ed;*/
/*}*/

/*.group-pay-bill li {*/
/*    display: inline-block;*/
/*    float: left;*/
/*    border-top: 1px solid #e6e9ed;*/
/*    border-bottom: 1px solid #e6e9ed;*/
/*    border-right: 1px solid #e6e9ed;*/
/*    font-size: 14px;*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*    font-weight: 500;*/
/*}*/

/*.grid3>li {*/
/*    width: 33%;*/
/*}*/

/*.grid4>li {*/
/*    width: 25%;*/
/*}*/

/*.grid6>li {*/
/*    width: 16.66%;*/
/*}*/

/*.group-pay-bill li a {*/
/*    display: block;*/
/*    color: #434953;*/
/*    padding: 1em;*/
/*    position: relative;*/
/*    padding-bottom: 2em;*/
/*}*/

/*.group-pay-bill-icon {*/
/*    width: 9em;*/
/*    height: 9em;*/
/*    background-position: bottom center;*/
/*    -webkit-background-size: 9em 18em;*/
/*    background-size: 9em 18em;*/
/*    background-repeat: none;*/
/*    margin: 0 auto;*/
/*    margin-bottom: 1em;*/
/*}*/

/*.group-pay-bill-content {*/
/*    height: 2.5em;*/
/*    font-weight: 600;*/
/*    position: relative;*/
/*}*/

/*.group-pay-bill>li>a:hover {*/
/*    color: #23A056;*/
/*    outline: 1px solid #23A056;*/
/*    -webkit-box-shadow: 0px 0px 13px 6px rgba(35, 160, 86, 0.2);*/
/*    box-shadow: 0px 0px 13px 6px rgba(35, 160, 86, 0.2);*/
/*}*/

/*@media (max-width: 1600px) {*/
/*    .group-pay-bill-icon {*/
/*        height: 6em;*/
/*        width: 6em;*/
/*        -webkit-background-size: 6em 12em;*/
/*        background-size: 6em 12em;*/
/*    }*/
/*}*/

/*End CSS Bill Payment*/

/*Start custom footer*/
footer .padding-list li {
    padding: 0.5em 0;
    font-size: 14px;
}

footer svg.icon {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    overflow: visible !important;
}

footer .mw-100 {
    max-width: 100% !important;
}

footer .mb-10 {
    margin-bottom: 10px;
}

footer li a:hover {
    color: #4CAF50;
}

footer li a {
    color: #f1f1f1;
}

footer svg.svg-secondary {
    fill: #8e96a4;
}

footer .icon-pos-left {
    margin-right: 0.5rem;
}
/*End custom footer*/

.topup-deposit {
    padding: 10px;
    padding-top: 0;
}

.topup-deposit .form-horizontal .control-label {
    text-align: left;
}

.topup-deposit .form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

    .topup-deposit .form-horizontal input.form-control {
        height: 3em;
        font-size: 14px;
        color: #555;
        padding-left: 1em;
        font-weight: 400;
        position: relative;
        max-height: 42px;
    }

.topup-deposit .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.deposit-request-latest {
    background: #F8F8F8;
    border-radius: 6px;
    border: 1px solid #EFEFEF;
}

.deposit-request-latest .form-group.row {
    margin-top: 15px;
}

.deposit-request-latest .policy-title {
    background: #23A056;
    color: #fff;
    /*border-top-left-radius: 6px;*/
    /*border-top-right-radius: 6px;*/
    padding: 10px 15px;
    font-weight: 600;
}

@media(max-width: 411px) {
    .col-xs-50 {
        width: 50% !important;
    }

    .col-xs-411-100 {
        width: 100% !important
    }

    #footer .footer-ultil {
        display: flex;
    }

    #footer .download {
        padding-right: 20px;
    }
    .page-body .topup-form .price-tag .price-tag-item {
        width: 36% !important
    }
}
@media(max-width: 480px){
    .name-func{
        min-height: 45px;
    }
}

@media(max-width: 560px) {
    .col-xs-100 {
        width: 100% !important
    }
    .col-xs-50{
        width: 50% !important
    }
    #content.p-4 {
        padding: 1.5rem 0px !important
    }

    .profile-sec #sidebar .custom-menu {
        margin-right: -45px !important;
    }
    .page-body .form-group .m-input{
        width: 100% !important
    }
    .introduce-content .detail{
        margin-top: 15px;
    }
    .footer-info .logo-topup{
        width: 100% !important
    }
    .info-acc ul.infor li:nth-child(2),
    .info-acc ul.infor li:nth-child(3) {
        text-align: left !important
    }
    .title-page{
        font-size: 16px !important;
        margin: 30px 0px 15px !important;
    }
    .detail-title-page p{
        font-size: 15px;
    }

}
@media(min-width: 560px) and (max-width: 767.98px) {
    .introduce-content .detail p {
        margin-bottom: 8px;
    }
    .name-func{
        min-height: 45px;
    }
}
@media(max-width: 767px){
    .top_news_content .slick-slider .slick-next {
        right: 0px;
    }

    .top_news_content .slick-slider .slick-prev {
        left: 0px;
    }
}
@media(min-width: 768px) and (max-width: 991.98px) {
    .page-body .topup-form .price-tag .price-tag-item {
        width: 23% !important
    }

    .page.home #footer .footer-link ul {
        padding:0 0 0 10px !important;
    }

    .footer-ultil {
        padding: 8px 0px 0px 10px;
    }
    .footer-ultil .mobile-app a {
        display: block;
        padding: 5px 0px
    }
    .footer-ultil .social .networks a {
        margin-right: 12px;
    }
}
@media(max-width: 991.98px) {
    .header .header-nav {
        display: none !important;
    }

    .profile-sec #sidebar.active .custom-menu {
        margin-right: -20px !important;
    }

    .profile-sec #sidebar .custom-menu {
        right: -10px;
    }

    .profile-sec #sidebar.active .custom-menu {
        right: 0px
    }

    .profile-sec .custom-menu {
        padding: 0px !important
    }
}
@media(max-width: 1199.98px) and (min-width: 992px) {
    .header .header-nav-right .btn-signin, .header .header-nav-right .btn-signup {
        font-size: 14px;
    }
    .page-body .topup-form .price-tag .price-tag-item {
        width: 23% !important
    }
    .user-info .avatar {
        margin-right: 2px !important;
    }
}

.page-loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 0;
    font-size: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50% !important;
    text-indent: -9999em;
    -webkit-animation: load 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0.8;
}
/* Defined */
@-webkit-keyframes mySticky {
    from {
        margin-top: -150px
    }

    to {
        magrin-top: 0
    }
}

@-moz-keyframes mySticky {
    from {
        margin-top: -150px
    }

    to {
        magrin-top: 0
    }
}

@keyframes mySticky {
    from {
        margin-top: -150px
    }

    to {
        magrin-top: 0
    }
}

@-webkit-keyframes load {
    0%, 100% {
        box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1;
    }

    12.5% {
        box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1;
    }

    50% {
        box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1;
    }

    75% {
        box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1;
    }

    87.5% {
        box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1;
    }
}

@-moz-keyframes load {
    0%, 100% {
        box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1;
    }

    12.5% {
        box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1;
    }

    50% {
        box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1;
    }

    75% {
        box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1;
    }

    87.5% {
        box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1;
    }
}

@keyframes load {
    0%, 100% {
        box-shadow: 0 -3em 0 0.2em #F1F1F1, 2em -2em 0 0em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 0 #F1F1F1;
    }

    12.5% {
        box-shadow: 0 -3em 0 0 #F1F1F1, 2em -2em 0 0.2em #F1F1F1, 3em 0 0 0 #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em #F1F1F1, 2em -2em 0 0 #F1F1F1, 3em 0 0 0.2em #F1F1F1, 2em 2em 0 0 #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 0 #F1F1F1, 2em 2em 0 0.2em #F1F1F1, 0 3em 0 0em #F1F1F1, -2em 2em 0 -1em #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1;
    }

    50% {
        box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 0em #F1F1F1, 0 3em 0 0.2em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 -1em #F1F1F1, -2em -2em 0 -1em #F1F1F1;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 0 #F1F1F1, -2em 2em 0 0.2em #F1F1F1, -3em 0 0 0 #F1F1F1, -2em -2em 0 -1em #F1F1F1;
    }

    75% {
        box-shadow: 0em -3em 0 -1em #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0em 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0.2em #F1F1F1, -2em -2em 0 0 #F1F1F1;
    }

    87.5% {
        box-shadow: 0em -3em 0 0 #F1F1F1, 2em -2em 0 -1em #F1F1F1, 3em 0 0 -1em #F1F1F1, 2em 2em 0 -1em #F1F1F1, 0 3em 0 -1em #F1F1F1, -2em 2em 0 0 #F1F1F1, -3em 0em 0 0 #F1F1F1, -2em -2em 0 0.2em #F1F1F1;
    }
}

@-webkit-keyframes load_2 {
    0%, 100% {
        box-shadow: 0 -3em 0 0.2em #0f2a51, 2em -2em 0 0em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0 0 -1em #0f2a51, -2em -2em 0 0 #0f2a51;
    }

    12.5% {
        box-shadow: 0 -3em 0 0 #0f2a51, 2em -2em 0 0.2em #0f2a51, 3em 0 0 0 #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em #0f2a51, 2em -2em 0 0 #0f2a51, 3em 0 0 0.2em #0f2a51, 2em 2em 0 0 #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0em 0 0 #0f2a51, 2em 2em 0 0.2em #0f2a51, 0 3em 0 0em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0em 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51;
    }

    50% {
        box-shadow: 0 -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 0em #0f2a51, 0 3em 0 0.2em #0f2a51, -2em 2em 0 0 #0f2a51, -3em 0em 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 0 #0f2a51, -2em 2em 0 0.2em #0f2a51, -3em 0 0 0 #0f2a51, -2em -2em 0 -1em #0f2a51;
    }

    75% {
        box-shadow: 0em -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0em 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 0 #0f2a51, -3em 0em 0 0.2em #0f2a51, -2em -2em 0 0 #0f2a51;
    }

    87.5% {
        box-shadow: 0em -3em 0 0 #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 0 #0f2a51, -3em 0em 0 0 #0f2a51, -2em -2em 0 0.2em #0f2a51;
    }
}

@-moz-keyframes load_2 {
    0%, 100% {
        box-shadow: 0 -3em 0 0.2em #0f2a51, 2em -2em 0 0em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0 0 -1em #0f2a51, -2em -2em 0 0 #0f2a51;
    }

    12.5% {
        box-shadow: 0 -3em 0 0 #0f2a51, 2em -2em 0 0.2em #0f2a51, 3em 0 0 0 #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em #0f2a51, 2em -2em 0 0 #0f2a51, 3em 0 0 0.2em #0f2a51, 2em 2em 0 0 #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0em 0 0 #0f2a51, 2em 2em 0 0.2em #0f2a51, 0 3em 0 0em #0f2a51, -2em 2em 0 -1em #0f2a51, -3em 0em 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51;
    }

    50% {
        box-shadow: 0 -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 0em #0f2a51, 0 3em 0 0.2em #0f2a51, -2em 2em 0 0 #0f2a51, -3em 0em 0 -1em #0f2a51, -2em -2em 0 -1em #0f2a51;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 0 #0f2a51, -2em 2em 0 0.2em #0f2a51, -3em 0 0 0 #0f2a51, -2em -2em 0 -1em #0f2a51;
    }

    75% {
        box-shadow: 0em -3em 0 -1em #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0em 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 0 #0f2a51, -3em 0em 0 0.2em #0f2a51, -2em -2em 0 0 #0f2a51;
    }

    87.5% {
        box-shadow: 0em -3em 0 0 #0f2a51, 2em -2em 0 -1em #0f2a51, 3em 0 0 -1em #0f2a51, 2em 2em 0 -1em #0f2a51, 0 3em 0 -1em #0f2a51, -2em 2em 0 0 #0f2a51, -3em 0em 0 0 #0f2a51, -2em -2em 0 0.2em #0f2a51;
    }
}