.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.font-size-h1-lg {
    color: #16548D !important;
}

.btn.btn-primary {
    background: linear-gradient(90deg, #FF9532 -7.39%, #F87027 100%);
    border: none;
}

.font-size-h6 {
    font-size: 15px;
}

.login.login-1 .login-aside .aside-img {
    min-height: 50%;
}

.login.login-1 .login-signin,
.login.login-1 .login-signup,
.login.login-1 .login-forgot {
    display: none;
}

.login.login-1.login-signin-on .login-signup {
    display: none;
}

.login.login-1.login-signin-on .login-signin {
    display: block;
}

.login.login-1.login-signin-on .login-forgot {
    display: none;
}

.login.login-1.login-signup-on .login-signup {
    display: block;
}

.login.login-1.login-signup-on .login-signin {
    display: none;
}

.login.login-1.login-signup-on .login-forgot {
    display: none;
}

.login.login-1.login-forgot-on .login-signup {
    display: none;
}

.login.login-1.login-forgot-on .login-signin {
    display: none;
}

.login.login-1.login-forgot-on .login-forgot {
    display: block;
}

.fxt-header h1 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .login.login-1 .form-control.form-control-solid {
        background: #F6F8FA !important;
        border: 1px solid #E8EEF0 !important;
    }

    .login.login-1 #login-signin {
        /*padding: 65px 55px 65px;*/
        padding: 40px;
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
    }

    .login.login-1 .login-aside {
        width: 100%;
        max-width: 50%;
    }

    .login.login-1 .login-content {
        width: 100%;
        max-width: 50%;
    }

    .login.login-1 .login-content .login-form {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1399.98px) {
    .login.login-1 .login-aside {
        width: 100%;
        max-width: 50%;
    }
}

@media (max-width: 991.98px) {
    .flex-row-fluid {
        width: 70%;
    }

    .login.login-1 .login-content .login-form {
        width: 100%;
        max-width: 100%;
    }

    .login.login-1 .form-control.form-control-solid {
        background: #F6F8FA !important;
        border: 1px solid #E8EEF0 !important;
    }

    .login.login-1 #login-signin {
        padding: 20px;
        width: 100%;
        background-color: #fff;
    }
}

@media (max-width: 767px) {
    .flex-row-fluid {
        width: 100%;
    }

    .login.login-1 .login-content .login-form {
        width: 100%;
        max-width: 100%;
    }

    .login.login-1 .form-control.form-control-solid {
        background: #F6F8FA !important;
        border: 1px solid #E8EEF0 !important;
    }

    .login.login-1 #login-signin {
        padding: 20px;
        width: 100%;
        background-color: #fff;
    }

    .login.login-1 .aside-img {
        min-height: 300px !important;
        background-size: 400px;
    }

    .login.login-1 .login-content .login-form {
        width: 100%;
        max-width: 100%;
    }

    .fxt-header h1 {
        font-size: 20px !important;
    }
}

@media (max-width: 575.98px) {
    .flex-row-fluid {
        width: 100%;
    }

    .login.login-1 .login-content .login-form {
        width: 100%;
        max-width: 100%;
    }

    .login.login-1 .form-control.form-control-solid {
        background: #F6F8FA !important;
        border: 1px solid #E8EEF0 !important;
    }

    .login.login-1 #login-signin {
        padding: 20px;
        width: 100%;
        background-color: #fff;
    }

    .login.login-1 .aside-img {
        min-height: 300px !important;
        background-size: 400px;
    }

    .login.login-1 .login-content .login-form {
        width: 100%;
        max-width: 100%;
    }

    img.logo-protect__bg {
        height: 20px !important;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}