@{
    Layout = $"~/Views/Layout/_LayoutGmobile.cshtml";
}
@model HLS.Topup.Web.Models.Report.ReportViewModel
@{
    ViewBag.CurrentPageName = FrontEndPageNames.HistoryLot;
    ViewBag.Title = "Lịch sử nạp lô";
    ViewBag.ImageTitle = "/themes/topup/images/transaction-history-white.svg";
}

@section Scripts
{
    <script src="~/themes/topup/print/ctrl.js" asp-append-version="true"></script>
    <script abp-src="/view-resources/Views/BatchTopup/History.js" asp-append-version="true"></script>
}

<style>
    .dataTables_wrapper .bottom {
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    .dataTables_wrapper .bottom .dataTables_length label {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-weight: 400;
    }
</style>

@{
    ViewBag.CurrentPageName = FrontEndPageNames.TransactionInfo;
    ViewBag.PageTitle = "Lịch sử nạp lô";
    ViewBag.Breadcrumbs = new List<(string Text, string Url)>
    {
        ("Trang chủ", Url.Action("Index", "Home")),
        ("Lịch sử nạp lô", Url.Action("History", "BatchTopup")),
    };
}

@await Html.PartialAsync("~/Views/Layout/Shared/_SubHeaderPartial.cshtml")

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom gutter-b">
            <div class="card-header flex-wrap py-3">
                <div class="card-title">
                    <h3 class="card-label">
                        @ViewBag.PageTitle
                    </h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <button type="button" id="ExportToExcelButton" class="btn btn-primary font-weight-bolder">
                        <span class="svg-icon svg-icon-md">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs></defs>
                                <g id="Stockholm-icons-/-Files-/-Downloaded-file" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                    <path d="M14.8875071,11.8306874 L12.9310336,11.8306874 L12.9310336,9.82301606 C12.9310336,9.54687369 12.707176,9.32301606 12.4310336,9.32301606 L11.4077349,9.32301606 C11.1315925,9.32301606 10.9077349,9.54687369 10.9077349,9.82301606 L10.9077349,11.8306874 L8.9512614,11.8306874 C8.67511903,11.8306874 8.4512614,12.054545 8.4512614,12.3306874 C8.4512614,12.448999 8.49321518,12.5634776 8.56966458,12.6537723 L11.5377874,16.1594334 C11.7162223,16.3701835 12.0317191,16.3963802 12.2424692,16.2179453 C12.2635563,16.2000915 12.2831273,16.1805206 12.3009811,16.1594334 L15.2691039,12.6537723 C15.4475388,12.4430222 15.4213421,12.1275254 15.210592,11.9490905 C15.1202973,11.8726411 15.0058187,11.8306874 14.8875071,11.8306874 Z" id="Shape" fill="#000000"></path>
                                </g>
                            </svg>
                        </span>Xuất Excel
                    </button>
                    <!--end::Button-->
                </div>
            </div>
            <div class="card-body">
                <div class="table-filter">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="" class="font-weight-bold">Thời gian</label>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group date" id="kt_datetimepicker_7_1" data-target-input="nearest">
                                            <input type="text" class="form-control date-picker" id="FromDateFilterId" placeholder="Bắt đầu"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="ki ki-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group date" id="kt_datetimepicker_7_2" data-target-input="nearest">
                                            <input type="text" class="form-control date-picker" id="ToDateFilterId" placeholder="Kết thúc"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="ki ki-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtRequestTrans" class="font-weight-bold">Mã lô</label>
                                <input type="text" class="form-control" id="txtRequestTrans" placeholder="Mã lô"/>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="form-group">
                                <label for="selectBachType" class="font-weight-bold">Loại nạp lô</label>
                                <select class="form-control select2" id="selectBachType">
                                    <option value="">Tất cả</option>
                                    <option value="TOPUP">Nạp tiền điện thoại</option>
                                    <option value="PINCODE">Mua mã thẻ</option>
                                    <option value="PAYBILL">Thanh toán hóa đơn</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="form-group">
                                <label for="StatusFilterId" class="font-weight-bold">Trạng thái</label>
                                <select class="form-control select2" id="StatusFilterId">
                                    <option value="99">Tất cả</option>
                                    <option value="0">Khởi tạo</option>
                                    <option value="1">Hoàn thành</option>
                                    <option value="2">Đang xử lý</option>
                                    <option value="3">Dừng</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-8">
                                <button type="button" id="btnSearch" class="btn btn-primary font-weight-bold mr-2">Tìm kiếm</button>
                                <button type="reset" class="btn btn-secondary font-weight-bold">Đặt lại</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover dt-responsive nowrap mt-8" id="tableHistory">
                        <thead>
                        <tr>
                            <th>Hành động</th>
                            <th>Trạng thái</th>
                            <th>Mã lô</th>
                            <th>Loại</th>
                            <th>Người thực hiện</th>
                            <th>Ngày tạo</th>
                            <th>Ngày cập nhật</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>