<section class="download-app">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <div class="text-box">
                    <h5 class="title">Tải miễn phí ứng dụng NapTien24h</h5>
                    <p class="description">Không lo hết tiền điện thoại dù ở bất cứ nơi đâu.</p>
                </div>
                <div class="download-button">
                    <a href="https://play.google.com/store/apps/details?id=com.ctnet.thanhtoan24h" target="_blank" class="btn-download"><i class="fa fa-android fa-2x"></i> <span>Tải về cho Android</span></a>
                    <a href="https://itunes.apple.com/us/app/naptien24h-nạp-tiền-24-7/id1313689565?mt=8" target="_parent" class="btn-download"><i class="fa fa-apple fa-2x"></i> <span>Tải về cho iOS</span></a>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 hidden-xs">
                <div class="img-box">
                    <img src="~/themes/default/images/home_download_phone.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>